.review-items-container {
    margin: 0 auto;
}

.cart-container {
    background-color: whitesmoke;
}

.black-btn {
    background-color: #120E43;
    color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #120E43;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.black-btn:hover {
    background-color: whitesmoke;
    color: darkblue;
    border: 1px solid lightgrey;
}