.header{
    height: 70px;
    background-color: #242B2E;
    width:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    margin-left: 36px;
}

.header a:hover{
    color: orange;
}